<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDk7fIO6daLWQLuIDfapaecdPU4F89gCho</string>
	<key>GCM_SENDER_ID</key>
	<string>718484584494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwalletx</string>
	<key>PROJECT_ID</key>
	<string>finwallet-4c389</string>
	<key>STORAGE_BUCKET</key>
	<string>finwallet-4c389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718484584494:ios:1c6bc494d9bb53fbd0c7bf</string>
</dict>
</plist>